# Properly detect programming languages on Github
*.h linguist-language=cpp
*.inc linguist-language=cpp
thirdparty/* linguist-vendored

# Normalize EOL for all files that Git considers text files
* text=auto eol=lf

# List of binary files we don't want to be modified.
*.icns binary
*.ico binary
*.jar binary
*.png binary
*.ttf binary
*.tza binary

